h1 {font-family: sans-serif;}
p {font-family: sans-serif;}
a {color: darkgreen;}
s {color: grey;}
mark {color: darkblue; background-color: pink;}
h2 {text-align: left; font-family: sans-serif;}
pre {font-family: monospace;}

h3 {color: rgba(0, 0, 139, 0.8)}
pre.transparent-text {color: rgba(0, 0, 0, 0.5);}

body {background-color: #DCF5F5; background-image: url('cross.png');}

div.content {background-color: white;}
span.blue {color: blue;}
span.fancy {font-family: cursive;}

div.content2 {background-color: white; border: 1px darkgrey; border-radius: 8px;}
span.red-border {border: 2px solid red;}
span.red-outline {outline: 2px solid red;}
div.red-border {border: 2px solid red;}
div.blue-border {border: 2px solid blue;}
div.red-border2 { 
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
div.blue-border2 {
    border: 2px solid blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.top-nested {
    border: 2px solid red;
    background-color: blue;
}
div.top-nested2 {
    margin: 10px 20px;
    border: 2px solid red;
    background-color: yellow;
    text-align: right;
    height: 200px;
    width: 700px;
    padding: 12px;
    box-sizing: border-box;
}

div.bottom-nested {
    border: 2px solid red;
    background-color: blue;
}
div.bottom-nested2 {
    border: 2px solid red;
    background-color: yellow;
    text-align: right;
    height: 400px;
    width: 400px;
    padding: 12px;
    box-sizing: border-box;
    margin: auto; /* Position div in center */
}


div.content3 {background-color: white; border: 1px darkgrey; border-radius: 8px; padding: 10px;}
blockquote{
    font-family: Raleway;
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}
h4 {
    font-family: Raleway;
    text-decoration: underline;
    font-style: italic;
    font-weight: normal;
}
div.container {
    color: #BFCFD4;
    text-align: center;
    font-size: 36px;
    padding: 
    10px;
}
h1.raleway {font-family: Raleway;}
h2.raleway {font-family: Raleway;}
p.noto-serif {font-family: Noto-Serif;}

