h1 {font-family: sans-serif;}
p {font-family: sans-serif;}
a {color: darkgreen;}
s {color: grey;}
mark {color: darkblue; background-color: pink;}
h2 {text-align: left; font-family: sans-serif;}
pre {font-family: monospace;}

h3 {color: rgba(0, 0, 139, 0.8)}
pre.transparent-text {color: rgba(0, 0, 0, 0.5);}

body {background-color: #DCF5F5; background-image: url('cross.png');}

div.content {background-color: white;}
span.blue {color: blue;}
span.fancy {font-family: cursive;}

div.content2 {background-color: white; border: 1px darkgrey; border-radius: 8px;}
span.red-border {border: 2px solid red;}
span.red-outline {outline: 2px solid red;}
div.red-border {border: 2px solid red;}
div.blue-border {border: 2px solid blue;}
div.red-border2 { 
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
div.blue-border2 {
    border: 2px solid blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}